<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oooops</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
  </head>
  <body>
    <form>
      <h1>Opps ...</h1>
      <div><%= error %></div>
      <a href="/"><button type="button">Back</button></a>
    </form>
  </body>
</html>
